* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

.navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 36px;
}

.navbar-brand i {
    margin-right: 20px;
}






















